@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}
body {
    background-color: #FFFDF3;
    width: 100%;
}
.navbar {
    width: 100%;
    border-top: 0.063rem;
    border-bottom: 0.063rem;
    /* padding: 1rem 1.5rem 1rem 1.5rem; */
    background-color: #FFFFFF;
    border-color: #F1F1F1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 15px;
}
.navbar img {
    width: 9.5rem;
    height: 1.5rem;
}
.navbar-big {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 12px 120px; */
}
.akun {
    display: flex;
    align-items: center;
    gap: 36px;
}
.akun-kat {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #333333AD;
}
.akun-burger {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}
.akun-burger span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #000;
    border-radius: 3px;
}
.akun img {
    width: 44px;
    height: 44px;
    border-radius: 10px;
}
.container {
    padding: 28px 20px;
    max-width: 360px;
    width: 100%;
}
.hero {
    height: 400px;
    width: 100%;
    max-width: 320px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(aset/banner.jpeg);
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 64px 20px;
    gap: 24px;
    margin-bottom: 20px;
}
.hero-top {
    width: 100%;
    text-align: center;
}
.title {
    font-family: "poppins";
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0%;
    color: #FFFFFF;
    height: 130px;
    margin-bottom: 60px;
}
.subtitle {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    height: 120px;
    width: 100%;
    margin-bottom: 50px;
}
.btn-hero {
    background-color: #3ECF4C;
    border-radius: 10px;
    color: #FFFFFF;
    height: 40px;
    width: 316px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    border: none;
}
.card {
    width: 100%;
    max-width: 320px;
}
.card-top {
    height: 102px;
    margin-bottom: 20px;
}
.judul {
    height: 52px;
    font-family: "poppins";
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0%;
    color: #222325;
    margin-bottom: 20px;
}
.subjudul {
    height: 40px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #333333AD;
}
.tabs {
    width: 500px;
    height: 50px;
}
.tabs ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: #333333AD;
    padding: 12px 36px 12px 0;
}
.tabs li {
    height: 20px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
} 
.red {
    color: red;
}
.redpoint {
    height: 5px;
    width: 50px;
    border-radius: 3px;
    background-color: red;
    margin-bottom: 30px;
}
.card-bottom {
    width: 320px;
    height: 147px;
    border-radius: 10px;
    border: 1px solid #3A35411F;
    padding: 16px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}
.card-bottom img {
    width: 82px;
    height: 82px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.deskripsi {
    display: flex;
    gap: 10px;
}
.deskripsi-person-title {
    width: 194px;
    height: 38px;
    font-family: "poppins";
    font-weight: 600;
    size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    counter-reset: #222325;
    margin-bottom: 8px;
}
.deskripsi-person img {
    width: 36px;
    height: 36px;
    border-radius: 10px;
}
.person {
    display: flex;
    width: 194px;
    height: 37px;
    gap: 8px;
}
.nama {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #222325;
}
.job {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #333333AD;
}
.deskripsi-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    height: 24px;
}
.rating {
    width: 90px;
    height: 18px;
}
.rating img {
    width: 100%;
    height: 100%;
}
.nilai {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-decoration: underline;
    color: #333333AD;
}
.price {
    font-family: "poppins";
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3ECF4C;
    margin-left: auto;
}
.newletter {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(aset/frame.jpg);
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    height: 400px;
    border-radius: 4px;
    padding: 0 20px;
    width: 100%;
    max-width: 320px;
}
.newletter-top {
    width: 100%;
    height: 304px;
    padding-top: 45px;
}
.newletter-mid {
    text-align: center;
    height: 168px;
}
.newletter-title {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #C1C2C4;
}
.newletter-ajak {
    font-family: "poppins";
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.newletter-desc {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2%;
    color: #F4F5FA;
}
.form-grup {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.form-input {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 8px 10px 12px;
    height: 40px;
    color: #FFFFFF;
    border: none;
}
.form-input::placeholder {
    color: #333333AD;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
}
.form-btn {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 26px;
    height: 40px;
    background-color: #FFBD3A;
    border: none;
}
.info {
    width: 100%;
    height: 424px;
    border: 1px solid #3A35411F;
    background-color: #FFFFFF;
    padding: 20px;
}
.info img {
    width: 170px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.info-top {
    width: 100%;
    max-width: 320px;
}
.info-title {
    height: 40px;
    width: 316px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #222325;
    margin-bottom: 5px;
}
.info-adress {
    height: 20px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #222325;
    margin-bottom: 5px;
}
.info-tautan-group {
    width: 320px;
    height: 96px;
    gap: 12px;
}
.info-kategori-title {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #222325;
    width: 320px;
    height: 24px;
}
/* .info-kategori {
    width: 100%;
    height: 24px;
    margin: 5px;
    border: none;
} */
/* .info-kategori option {
    color: #333333AD;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
} */
.divider {
    height: 1px;
    background-color: #3A35411F;
    border: 1px;
    margin: 20px 0;
}
.medsos {
    width: 185px;
    height: 35px;
    gap: 15px;
    display: flex;
    margin-bottom: 30px;
}
.medsos i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1.5px solid #222325;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #333333AD;
}
/* versi mobile */
@media only screen and (max-width:576px){
    .container {
        padding: 28px 20px;
        max-width: 400px;
        width: 100%;
        margin: auto;
    }
    .hero {
        height: 400px;
        width: 100%;
    }
    .deskripsi-long {
        display: none;
    }
    .tampil {
        display: none;
    }
    .navbar-big {
        width: 360px;
        padding: 16px 24px;
        background-color: #FFFFFF;
    }
    .akun {
        display: none;
    }
}
@media only screen and (min-width:577px) and (max-width:1440px){
    .akun-burger {
        display: none;
    }
    .navbar-big {
        width: 100%;
        max-width: 1200px;
        padding: 12px 120px;
    }
    .navbar {
        display: flex;
        justify-content: center;
    }
    .container {
        padding: 28px 20px;
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }
    .hero {
        height: 400px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-top {
        box-sizing: border-box;
        height: 215px;
        width: 100%;
        max-width: 920px;
    }
    .title {
        font-size: 48px;
        height: 159px;
        margin-top: -30px;
    }
    .subtitle {
        font-size: 16px;
        height: 44px;
        width: 100%;
    }
    .card {
        width: 100%;
        max-width: 1200px;
    }
    .card-top {
        width: 623px;
        height: 67px;
    }
    .judul {
        height: 35px;
        font-size: 32px;
    }
    .subjudul {
        height: 22px;
        font-size: 16px;
        letter-spacing: 0.2px;
    } 
    .card-bottom {
        background-color: #FFFFFF;
        width: 350px;
        height: 400px;
        padding: 20px;
        gap: 16px;
        margin-bottom: 0;
    }
    .card-bottom img {
        width: 344px;
        height: 193px;
        border-radius: 10px;
        margin-bottom: 0;
    }
    .deskripsi {
        display:flex;
        flex-direction: column;
        gap:20px;
    } 
    .deskripsi-person-title {
        width: 100%;
        height: 22px;
        size: 18px;
    }
    .deskripsi-long {
        width: 100%;
        height: 44px;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.2px;
        color: #333333AD;
        margin-bottom: 10px;
    }
    .deskripsi-person img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
    .person {
        display: flex;
        width: 100%;
        height: 42px;
        gap: 8px;
        margin-bottom: 10px;
    }
    .identitas {
        width: 294px;
        height: 42px;
    }
    .nama {
        font-size: 16px;
    }
    .job {
        font-size: 14px;
    }
    .deskripsi-bottom {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .rating {
        width: 90px;
        height: 18px;
    }
    .rating img {
        width: 100%;
        height: 100%;
    }
    .nilai {
        font-size: 14px;
    }
    .price {
        font-size: 24px;
    } 
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;
    }
    .newletter {
        width: 100%;
        max-width: 1200px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .newletter-top {
        width: 100%;
        max-width: 525px;
        height: 216px;
        padding-top: 0;
    }
    .newletter-mid {
        text-align: center;
        height: 118px;
    }
    .newletter-title {
        font-size: 18px;
    }
    .newletter-ajak {
        font-size: 32px;
    }
    .newletter-desc {
        font-size: 16px;
    }.form-grup {
        gap: 16px;
        margin-top: 50px;
        position: relative;
    }
    .form-input {
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px 8px 10px 12px;
        height: 58px;
        color: #FFFFFF;
        border: none;
        
        width: 525px;
    }
    .form-input::placeholder {
        text-align: left;
        font-size: 16px;
    }
    .form-btn {
        font-size: 16px;
        height: 42px;
        width: 132px;
        gap: 8px;
        position: absolute;
        right: 8px;
        top: 8px;
    }
    .info {
        max-width: 1200px;
        height: 427px;
        border: 1px solid #3A35411F;
        background-color: #FFFFFF;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 60px 120px;
    }
    .info img {
        width: 204px;
        height: 50px;
    }
    .info-big {
        width: 1200px;
        display: flex;
        justify-content: space-between;
    }
    .info-mid {
        display: flex;
        flex-direction: column;
    }
    .info-top {
        width: 352px;
        height: 118px;
    }
    .info-title {
        height: 50px;
        width: 352px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .info-adress {
        height: 22px;
        width: 352px;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .info-tautan {
        width: 485px;
        height: 199px;
        display: flex;
    }
    .info-tautan-group {
        width: 485px;
        height: 199px;
        display: flex;
    }
    .info-kategori-title {
        width: 190px;
    }
    .right {
        display: none;
    }
    .tampil {
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.2px;
        color: #333333AD;
    }
    .divider {
        height: 1px;
        background-color: #3A35411F;
        border: 1px;
        margin: 20px 0;
    }
    .footer-bottom {
        display: flex;
        flex-direction: row-reverse;
        height: 35px;
    }
    .medsos {
        width: 1200px;
        height: 33px;
        gap: 10px;
        display: flex;
        justify-content: flex-end;
    }
    .medsos i {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1.5px solid #222325;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright {
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.2px;
        color: #333333AD;
        width: 900px;
        height: 22px;
    } 
}
